<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag Drop</title>
    <link rel="stylesheet" href="../css/drag-drop.css" >
    <script src="../js/drag-drop.js" defer></script>
</head>
<body>
 
    <h1 style="background-color: white;color: rgb(0, 0, 0); text-align: center; padding: 50px 0; text-decoration: underline;font-family: Arial, Helvetica, sans-serif;">Drag and Drop</h1>

    <div class="drag_container" style="margin-top: 50px;">
        <div class="drag_item">
            <p class="drag" draggable="true">1</p>
        </div>
        <div class="drag_item">
            <p class="drag" draggable="true">2</p>
        </div>
        <div class="drag_item">
            <p class="drag" draggable="true">3</p>
        </div>
        <div class="drag_item">
            <p class="drag" draggable="true">4</p>
        </div>
        <div class="drag_item">
            <p class="drag" draggable="true">5</p>
        </div>
    </div>

    <div class="drop_container">
        <div class="drop_item"></div>
        <div class="drop_item"></div>
        <div class="drop_item"></div>
        <div class="drop_item"></div>
        <div class="drop_item"></div>
    </div>

    

  
    
</body>
</html>