#div-2{
    background-color: rgb(61, 61, 194);
    color: white;
}


.btn.btn-primary.btn-card{
    margin: auto auto;
}

.card{
    margin-bottom: 40px;
   
   
}

h4{
    text-decoration: underline;
    
}

#main{
    height: 100vh;
    width: 100%;
}

#content-main{
    margin: -100px 0 0 0;
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../../img/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.7);

}

#div-main>h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 70px 0 0 0 ;
    width: 100%;
    color: white;
}

#div-main{
    height: 0;
    top: 15vh;
    
}